# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives: 
List popular languages for Data Science.
List common libraries for Data Science.
List Data Science Tools.
Explain the Arithmetic Expressions.

Some of the popular languages that Data Scientists use are:
1.SQL
2.R
3.Scala
4.Java
5.Julia
6.Python

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Matplotlib
4.Seaborn
5.Scikit-learn
6.Keras
7.Apache Spark
8.ggpilot2

#### Data Science Tools:   
Apache Airflow, 
Kubeflow,
Apache Kafka,
Apache Nifi,
Apache SparkSQL,
NodeRED,  
Jupyter Notebooks,
JupyterLab,
Knime, 
Orange.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Mustafa SaÄŸlam